
<!-- header -->
<%- include("./partials/header") %>
// <!-- end header -->

<!-- navbar Main -->
<%- include("./partials/navBarMain") %>
<!-- navbar Main-->

<section class="container margin-top position-relative">
	<h1><%= title %> </h1>
    <p><%= description %></p>
    <p><%= content %></p>
</section>

<!-- footer -->
<%- include("./partials/footer") %>
<!-- end footer -->