
<!-- header -->
<%- include("./partials/header") %>
// <!-- end header -->

<!-- navbar Main -->
<%- include("./partials/navBarMain") %>
<!-- navbar Main-->

<section class="container margin-top position-relative">
	<h1><%= notes.title %></h1>
    <p><%= notes.description %></p>
    <p><%= notes.content %></p>
</section>

<!-- footer -->
<%- include("./partials/footer") %>
<!-- end footer -->